vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Feb 2013 21:46:16 -0000
vti_author:SR|OSIRIS\\GaryStofer
vti_modifiedby:SR|DELL\\Gary
vti_nexttolasttimemodified:TW|08 Feb 2013 20:11:51 -0000
vti_timecreated:TR|06 Jan 2007 21:44:45 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|Current_proj.htm index.htm contact.htm master.dwt AV_proj.htm QCproj.htm server.htm MC_proj.htm PWS.htm resume.htm SW_proj.htm HW_proj.htm Repairs.htm
vti_syncwith_localhost\\c\:\\temp\\test\\new folder/c\:/temp/test/new folder:TW|06 Jan 2007 21:44:45 -0000
vti_syncofs_localhost\\c\:\\temp\\test\\new folder/c\:/temp/test/new folder:TW|29 Jan 2007 21:58:58 -0000
vti_syncwith_localhost\\c\:\\temp\\websitepublish/c\:/temp/websitepublish:TW|06 Jan 2007 21:44:45 -0000
vti_syncwith_005482c.netsolhost.com\:21/%2fgary_bu/home:TX|05 May 2007 06:36:32 -0000
vti_syncofs_005482c.netsolhost.com\:21/%2fgary_bu/home:TW|05 May 2007 13:38:00 -0000
vti_syncofs_005482c.netsolhost.com\:21/gary_bu/home:TW|05 May 2007 13:39:00 -0000
vti_syncwith_005482c.netsolhost.com\:21/gary_bu/home:TW|05 May 2007 06:36:32 -0000
vti_syncwith_ranchotehamaairpark.com\:21/%2fgs/home:TX|17 Oct 2009 06:36:35 -0000
vti_syncofs_ranchotehamaairpark.com\:21/%2fgs/home:TW|03 Jan 2011 18:02:00 -0000
vti_syncofs_ranchotehamaairpark.com\:21/gs/home:TW|17 Oct 2009 06:40:00 -0000
vti_syncwith_ranchotehamaairpark.com\:21/gs/home:TW|17 Oct 2009 06:36:35 -0000
vti_syncwith_forestparkpool.info\:21/gs:TW|08 Feb 2013 20:11:51 -0000
vti_syncofs_forestparkpool.info\:21/gs:TW|08 Feb 2013 22:47:00 -0000
vti_syncwith_forestparkpool.info\:21/%2fgs:TX|17 Oct 2009 06:36:35 -0000
vti_syncofs_forestparkpool.info\:21/%2fgs:TW|07 Mar 2012 01:41:00 -0000
vti_cacheddtm:TX|08 Feb 2013 20:11:51 -0000
vti_filesize:IR|2067
